@model ShoppingCMS_V002.ModelViews.AddProductModelV_3
<div class="form-group form-group-marginless">
    <div id="Item_Id" style="display:none">@Model.Id</div>
    <label>@Model.Title</label>
    <div class="input-group" style="width: 100%">
        <select class="form-control kt-select2" style="width: 90%" id="kt_select2_page3-@Model.Id" name="param" multiple="multiple" onchange="return MultSelectorSelect()">
            @foreach (var item in Model.Item_List)
            {
                <option value="@item.Id">@item.Value</option>
            }

        </select>
        <div class="input-group-append" style="width:10%">
            <span class="input-group-text bg-success " id="multyselectSuccess-@Model.Id">
                <i class="la la-thumbs-up text-white"></i>
            </span>
            <span class="input-group-text bg-danger " id="multySelectError-@Model.Id">
                <i class="la la-thumbs-down text-white"></i>
            </span>
            <button id="multiSelectLoading-@Model.Id" class="input-group-text btn btn-outline-dark btn-icon kt-spinner kt-spinner--center kt-spinner--sm kt-spinner--danger"></button>

        </div>
    </div>
    <div class="valid-feedback" style="display: block" id="multiActionSuccessTXT-@Model.Id">با موفقیت اضافه شد!</div>
    <div class="invalid-feedback" style="display: block" id="multiActionFailTXT-@Model.Id">عدم توانایی در ذخیره داده!</div>
</div>

<script>
   $(document).ready(function () {
            //========================================Begin :: init
            $("#kt_select2_page3-@Model.Id").select2();
            $("#multyselectSuccess-@Model.Id").hide();
            $("#multySelectError-@Model.Id").hide();
            $("#multiSelectLoading-@Model.Id").hide();
            $("#multiActionSuccessTXT-@Model.Id").hide();
            $("#multiActionFailTXT-@Model.Id").hide();
            //=========================================End :: init


            $('#kt_select2_page3-@Model.Id').on('select2:select', function (e) {
                //inja oon itemi ke select shode bara ADD ro migire
                var data = e.params.data;
                console.log("Selected value is: " + data.id);
                console.log("Selected Text is: " + data.text);
                //END
                $("#multyselectSuccess-@Model.Id").hide();
                $("#multySelectError-@Model.Id").hide();
                $("#multiSelectLoading-@Model.Id").hide();
                $("#multiActionSuccessTXT-@Model.Id").hide();
                $("#multiActionFailTXT-@Model.Id").hide();
                $("#multiSelectLoading-@Model.Id").show();
                //ye AjaxMizani
                //if dorost add shod ya hazf shod
                $("#multiSelectLoading-@Model.Id").hide(1000);
                $("#multyselectSuccess-@Model.Id").show(500);
                $("#multiActionSuccessTXT-@Model.Id").show(500);

            });
            $('#kt_select2_page3-@Model.Id').on('select2:unselect', function (e) {
                //inja oon itemi ke select shode bara DELETE ro migire
                var data = e.params.data;
                console.log("UnSelected value is: " + data.id);
                console.log("UnSelected Text is: " + data.text);

                //END
                $("#multyselectSuccess-@Model.Id").hide();
                $("#multySelectError-@Model.Id").hide();
                $("#multiSelectLoading-@Model.Id").hide();
                $("#multiActionSuccessTXT-@Model.Id").hide();
                $("#multiActionFailTXT-@Model.Id").hide();
                $("#multiSelectLoading-@Model.Id").show();
                //ye AjaxMizani
                //if dorost add shod ya hazf shod
                $("#multiSelectLoading-@Model.Id").hide(1000);
                $("#multySelectError-@Model.Id").show(500);
                $("#multiActionFailTXT-@Model.Id").show(500);


            });

        });
        function MultSelectorSelect() {
            console.log("All Selected value is: " + $("#kt_select2_page3-@Model.Id").val());

        }

    </script>