
@{
    ViewBag.Title = "Add_Page3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add_Page3</h2>

<div class="form-group row">
    <label class="col-form-label col-lg-3 col-sm-12">Options Size</label>
    <div class="col-lg-4 col-md-9 col-sm-12">
        <div class="dropdown bootstrap-select form-control kt- dropup">
            <select class="form-control kt-selectpicker" data-size="4" tabindex="-98">
                <option>option1</option>
                <option>option2</option>
                <option>option3</option>
                <option>option4</option>
                <option>option5</option>
                <option>option6</option>
            </select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox" aria-expanded="false" title="option1"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">option1</div></div> </div></button>
            <div class="dropdown-menu" style="max-height: 186px; overflow: hidden; min-width: 315px;">
                <div class="inner show" role="listbox" id="bs-select-2" tabindex="-1" style="max-height: 160px; overflow-y: auto;" aria-activedescendant="bs-select-2-0">
                <ul class="dropdown-menu inner show" role="presentation" style="margin-top: 0px; margin-bottom: 0px;">
                <li class="selected active">
                    <a role="option" class="dropdown-item active selected" id="bs-select-2-0" tabindex="0" aria-setsize="6" aria-posinset="1" aria-selected="true"><span class="text">Mustard</span>
                    </a>
                    </li>
                <li>
                    <a role="option" class="dropdown-item" id="bs-select-2-1" tabindex="0" aria-setsize="6" aria-posinset="2"><span class="text">Ketchup</span>
                        </a>
                    </li>
                <li>
                    <a role="option" class="dropdown-item" id="bs-select-2-2" tabindex="0" aria-setsize="6" aria-posinset="3"><span class="text">Relish</span>
                        </a>
                    </li>
                <li>
                    <a role="option" class="dropdown-item" id="bs-select-2-3" tabindex="0" aria-setsize="6" aria-posinset="4"><span class="text">Tent</span>
                        </a>
                    </li>
                <li>
                    <a role="option" class="dropdown-item" id="bs-select-2-4" tabindex="0" aria-setsize="6" aria-posinset="5"><span class="text">Flashlight</span>
                        </a>
                    </li>
                <li>
                    <a role="option" class="dropdown-item" id="bs-select-2-5" tabindex="0"><span class="text">Toilet Paper</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
