@using ShoppingCMS_V002.ModelViews
@model List<AddProductModelV_3>
@{
    ViewBag.Title = "Add_Page3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="kt-portlet">
    <div class="kt-portlet__body">
        <!--begin::Section-->
        <div class="kt-section">



            <div class="form-group ">
                <label>ثبت جزئیات</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Key :</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Value : </span>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                    <div class="input-group-prepend">
                        <button class="btn btn-success" type="button">ثبت!</button>
                    </div>
                </div>
            </div>

            <div class="form-group " style="display:none">
                <label>ویرایش جزئیات</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Key :</span>
                    </div>
                    <input type="text" class="form-control">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Value : </span>
                    </div>
                    <input type="text" class="form-control">
                    <div class="input-group-prepend">
                        <button class="btn btn-warning" type="button">اعمال تغییرات!</button>
                    </div>
                </div>
            </div>
            <!--begin::Alerts-->
            <div id="SuccesAlertEdit" class="alert alert-solid-success alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display:none">
                <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                <div class="alert-text">با موفقیت ثبت شد!</div>
            </div>
            <div id="ERRAlertEdit" class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display:none">
                <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                <div class="alert-text">مقدار ورودی باید پرشده باشد!</div>
            </div>
            <!--End::Alerts-->
            <!--begin::Table-->
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Key</th>
                        <th>Value</th>
                        <th>وضعیت</th>
                        <th>اقدامات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jhon</td>
                        <td>Stone</td>
                        <td>
                            <span class="kt-badge kt-badge--inline kt-badge--success">فعال</span>
                            <span class="kt-badge kt-badge--inline kt-badge--danger">حذف شده</span>
                            <span class="kt-badge kt-badge--inline kt-badge--warning">غیر فعال</span>
                        </td>
                        <td>






                            <a class="kt-badge kt-badge--inline kt-badge--success" style="cursor: pointer;" href="">فعال</a>
                            <a class="kt-badge kt-badge--inline kt-badge--danger" style="cursor: pointer;" href="">حذف شده</a>
                            <a class="kt-badge kt-badge--inline kt-badge--warning" style="cursor: pointer;" href="">غیر فعال</a>




                        </td>
                    </tr>

                </tbody>
            </table>
            <!--End::Table-->
        @foreach (var item in Model)
        {
            @Html.Partial("_OptionValue", item);
        }

        </div>
    </div>
    <div class="kt-portlet__foot">
        <div class="kt-form__actions">
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12 col-xs-12">
                <button style="width: 100%;" class="btn btn-success" onclick="return SubmitedType('edit','')">ثبت</button>
            </div>

        </div>
    </div>
    <!--end::Form-->
    <!--begin::Page Scripts(used by this page) -->


    <script>
        $(document).ready(function () {
            //========================================Begin :: init
            $("#kt_select2_page3").select2();
            $("#multyselectSuccess").hide();
            $("#multySelectError").hide();
            $("#multiSelectLoading").hide();
            $("#multiActionSuccessTXT").hide();
            $("#multiActionFailTXT").hide();
            //=========================================End :: init


            $('#kt_select2_page3').on('select2:select', function (e) {
                //inja oon itemi ke select shode bara ADD ro migire
                var data = e.params.data;
                console.log("Selected value is: " + data.id);
                console.log("Selected Text is: " + data.text);
                //END
                $("#multyselectSuccess").hide();
                $("#multySelectError").hide();
                $("#multiSelectLoading").hide();
                $("#multiActionSuccessTXT").hide();
                $("#multiActionFailTXT").hide();
                $("#multiSelectLoading").show();
                //ye AjaxMizani
                //if dorost add shod ya hazf shod
                $("#multiSelectLoading").hide(1000);
                $("#multyselectSuccess").show(500);
                $("#multiActionSuccessTXT").show(500);

            });
            $('#kt_select2_page3').on('select2:unselect', function (e) {
                //inja oon itemi ke select shode bara DELETE ro migire
                var data = e.params.data;
                console.log("UnSelected value is: " + data.id);
                console.log("UnSelected Text is: " + data.text);

                //END
                $("#multyselectSuccess").hide();
                $("#multySelectError").hide();
                $("#multiSelectLoading").hide();
                $("#multiActionSuccessTXT").hide();
                $("#multiActionFailTXT").hide();
                $("#multiSelectLoading").show();
                //ye AjaxMizani
                //if dorost add shod ya hazf shod
                $("#multiSelectLoading").hide(1000);
                $("#multySelectError").show(500);
                $("#multiActionFailTXT").show(500);


            });

        });
        function MultSelectorSelect() {
            console.log("All Selected value is: " + $("#kt_select2_page3").val());

        }

    </script>
    <!--end::Page Scripts -->
</div>