@model ShoppingCMS_V002.Models.AddProduct_P1
@{
    ViewBag.Title = "Add_Page1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:none" id="page">1</div>
<div class="kt-form__section kt-form__section--first">
    <div class="kt-wizard-v3__form">
        <!--begin::Alerts-->
        <div id="SuccesAlertEdit1" class="alert alert-solid-success alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display:none">
            <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
            <div class="alert-text">با موفقیت ثبت شد!</div>
        </div>
        <div id="ERRAlertEdit1" class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display:none">
            <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
            <div class="alert-text">مقدار ورودی باید پرشده باشد!</div>
        </div>
        <!--End::Alerts-->
        <form>
            <div class="row">
                <div class="col-xl-6">

                    <div class="form-group">
                        <label>نام محصول</label>
                        <input id="Title_p1" class="form-control" placeholder="" />
                        <span class="form-text text-muted">نام و موضوع محصول خود را وارد کنید.</span>
                    </div>
                    <div class="form-group">
                        <label>توضیحات محصول</label>
                        <input id="Description_p1" class="form-control" placeholder="" type="text" />
                        <span class="form-text text-muted">توضیحات محصول خود را وارد کنید.</span>
                    </div>
                    <div class="form-group">
                        <label>کلید واژه ی سئو</label>
                        <input id="SEO_keyword_p1" class="form-control" placeholder="" />
                        <span class="form-text text-muted">کلید واژه برای موتور جست و جوی گوگل.</span>
                    </div>
                    <div class="form-group">
                        <label>توضیحات سئو</label>
                        <input id="SEO_description_p1" class="form-control" placeholder="" />
                        <span class="form-text text-muted">توضیحات برای موتور جست و جوی گوگل.</span>
                    </div>
                    <div class="form-group">
                        <label>ارزش جست و جو</label>
                        <input id="SearchGravity_p1" class="form-control" placeholder="" type="number"/>
                        <span class="form-text text-muted">نتایج جست و جوی کاربران براین اساس نمایش داده خواهند شد.</span>
                    </div>
                    <label class="kt-checkbox kt-checkbox--brand">
                        <input id="IsAd_p1" class="form-control" type="checkbox" />تبلیغ شود؟
                        <span></span>
                    </label>
                </div>
            </div>
        </form>

    </div>
    

    <div class="kt-form__actions">
        <div class="col-6 offset-3" style="padding-top: 10px;">

        <button id="Sub_btn1" onclick="submitNextPage(this)" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" style="width: 100%">
            Submit
        </button>
        </div>
    </div>

</div>


<script>
    function submitNextPage(parameters) {
        var Title = $('#Title_p1').val();
        alert(Title);
        var Description = $('#Description_p1').val(); alert(Description);
        var SEO_keyword = $('#SEO_keyword_p1').val(); alert(SEO_keyword);
        var SEO_description = $('#SEO_description_p1').val(); alert(SEO_description);
        var SearchGravity = $('#SearchGravity_p1').val(); alert(SearchGravity);
        var IsAd = $('#IsAd_p1').val(); alert(IsAd);

        if (Title != "" || Description != "" || SEO_keyword != "" || SEO_description != "" || SearchGravity != "") {
            $('#ERRAlertEdit1').show();
        } else {
            $("#Sub_btn1").hide(200);
        $("#btn_next").show(200);

        }



        
    }




</script>


