
@{
    ViewBag.Title = "Add_Page5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-portlet">
    <div class="kt-portlet__body">
        <!--begin::Section-->
        <div class="kt-section">

            <div class="col-lg-3">
                <div class="kt-portlet bg-success" >
                    <div class="kt-portlet__head kt-portlet__head--right kt-portlet__head--noborder  kt-ribbon kt-ribbon--clip kt-ribbon--left kt-ribbon--info" style="/*! padding-top: 10px; */padding: 10px;">
                        <div class="kt-ribbon__target" style="top: 12px;">
                            <span class="kt-ribbon__inner"></span>Ribbon
                        </div>
                        <div class="kt-portlet__head-label" style="width: 100%;">
                            <h3 class="kt-portlet__head-title" style="width: 100%;">
                                <img src="https://unsplash.it/250/187?image=400" style="width: 100%;">
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit-top">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__foot">
        <div class="kt-form__actions">
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12 col-xs-12">
                <button style="width: 100%;" class="btn btn-success" onclick="return SubmitedType('edit','')">ثبت</button>
            </div>

        </div>
    </div>
</div>
<!--end::Form-->