@model ShoppingCMS_V002.Models.AddProduct_P1
@{
    ViewBag.Title = "Add_Page1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:none" id="page">1</div>
<div style="display:none" id="Mpro_"></div>
<button style="display:none" type="button" id="EditBtnP1" onclick="return EditBtnP1Clk()" class="btn btn-warning"><i class="fa fa-edit"></i> ویرایش</button>
<div class="kt-form__section kt-form__section--first">
    <div class="kt-wizard-v3__form">

        <form>
            <div class="row">
                <div class="col-xl-6">
                    <div style="display:none" id="Url_2"></div>
                    <div class="form-group">
                        <label>نام محصول</label>
                        <input id="Title_p1" class="form-control" placeholder="" />
                        <span class="form-text text-muted">نام و موضوع محصول خود را وارد کنید.</span>
                    </div>
                    <div class="form-group">
                        <label>توضیحات محصول</label>
                        <input id="Description_p1" class="form-control" placeholder="" type="text" />
                        <span class="form-text text-muted">توضیحات محصول خود را وارد کنید.</span>
                    </div>
                    <div class="form-group">
                        <label>کلید واژه ی سئو</label>
                        <input id="SEO_keyword_p1" class="form-control" placeholder="" />
                        <span class="form-text text-muted">کلید واژه برای موتور جست و جوی گوگل.</span>
                    </div>
                    <div class="form-group">
                        <label>توضیحات سئو</label>
                        <input id="SEO_description_p1" class="form-control" placeholder="" />
                        <span class="form-text text-muted">توضیحات برای موتور جست و جوی گوگل.</span>
                    </div>
                    <div class="form-group">
                        <label>ارزش جست و جو</label>
                        <input id="SearchGravity_p1" class="form-control" placeholder="" type="number" />
                        <span class="form-text text-muted">نتایج جست و جوی کاربران براین اساس نمایش داده خواهند شد.</span>
                    </div>
                    <label class="kt-checkbox kt-checkbox--brand">
                        <input id="IsAd_p1" class="form-control" type="checkbox" />تبلیغ شود؟
                        <span></span>
                    </label>

                    <!----------------------------------------------------------------------------------------------->
                    <div class="form-group">
                        <label>عکس ها</label>
                        <button id="picss" class="btn btn-bold btn-label-brand btn-sm" data-toggle="modal" data-target="#kt_modal_6" onclick="modalloader()"><i class="fa fa-upload"><span style="font-family: IRANSansWeb;">آپلود عکس</span></i></button>
                        <input type="hidden" id="Pics_p1" class="form-control" placeholder="" />
                        <input class="form-text text-muted" id="Pics_p2" readonly="readonly" />
                    </div>

                    <!----------------------------------------------------------------------------------------------->
                </div>
            </div>
        </form>

    </div>
    
    <!--begin::Alerts-->
    <div id="SuccesAlertEdit1" class="alert alert-solid-success alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display:none">
        <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
        <div class="alert-text">با موفقیت ثبت شد!</div>
    </div>
    <div id="ERRAlertEdit1" class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display:none">
        <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
        <div class="alert-text">مقدار ورودی باید پرشده باشد!</div>
    </div>
    <!--End::Alerts-->

    <div class="kt-form__actions">
        <div class="col-6 offset-3" style="padding-top: 10px;">

            <button id="Sub_btn1" onclick="submitNextPage('New')" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" style="width: 100%">
                ثبت
            </button>
            <button id="Sub_btn12" onclick="submitNextPage('Edit')" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" style="width: 100%; display:none">
                ثبت
            </button>
        </div>
    </div>

</div>

<div class="modal fade" id="kt_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col-10">
                        <button class="btn btn-success" id="btnpageUp-0" onclick="return UploadModalPage(this,0)">آپلود</button>
                        <button class="btn btn-primary" id="btnpageUp-1" onclick="return UploadModalPage(this,1)">گالری</button>

                    </div>
                    <div class="col-2">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <input style="width: 100%; height: 50px; display: none" type="text" value="" id="modalRep1">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button type="button" class="btn btn-primary" onclick="savePicss()" data-dismiss="modal">اتمام فرایند</button>
            </div>
        </div>
    </div>

</div>



<script>
    function savePicss() {
        $("#Pics_p1").val($("#modalRep1").val());
        $("#Pics_p2").val($("#modalRep1").val());
        console.log("salam, = " + $("#modalRep1").val());
    }
    function submitNextPage(parameters) {
        var Title = $('#Title_p1').val();
        var Description = $('#Description_p1').val();
        var SEO_keyword = $('#SEO_keyword_p1').val();
        var SEO_description = $('#SEO_description_p1').val();
        var SearchGravity = $('#SearchGravity_p1').val();
        var IsAd;
        var pics = $('#Pics_p1').val();

        if (Title != "" && Description != "" && SEO_keyword != "" && SEO_description != "" && SearchGravity != "") {



            if ($('#IsAd_p1').val() == 'on') {
                IsAd = 1;
            } else {
                IsAd = 0;
            }
            //alert(IsAd);
            var action__ = "";
            var Id__ = '';
            if (parameters == "New") {
                action__ = "insert";
            } else if (parameters == "Edit") {
                action__ = "update";
                Id__ = $('#Mpro_').text();
            }
            
            var PostJson = {
                'Act_ToDo': action__,
                'Title': Title,
                'Description': Description,
                'SEO_keyword': SEO_keyword,
                'SEO_description': SEO_description,
                'SearchGravity': SearchGravity,
                'IsAd': IsAd,
                'id_CreatedByAdmin': 1,
                'pics': pics,
                'Mpro_id': Id__
            };

            alert(Id__);
            $.ajax({
                url: '/Product/Save_Step1',
                type: "post",
                data: JSON.stringify(PostJson),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#ERRAlertEdit1").hide(300);
                    $("#SuccesAlertEdit1").show(300);

                    var url = "";
                    if (parameters == "New") {
                        Id__ = response;
                        url = "@Url.Action("Add_Page2","Product",null,Request.Url.Scheme)?Id=" + Id__;
                        $('#step2').load(url);
                    } else if (parameters == "Edit") {
                        Id__ = $('#Mpro_').text();
                        url = "@Url.Action("Add_Page2","Product",null,Request.Url.Scheme)?Id=" + Id__;
                    }
                    $('#Mpro_').text(Id__);
                    FreezItmsP1();
                    $('#Url_2').text(url);
                    
                    
                    $("#Sub_btn1").hide(200);
                    $("#btn_next").show(200);
                    ChangeAllInput('2');
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });



        } else {
            $('#ERRAlertEdit1').show();
        }




    }

    //============================================Begin::UploaderJs
    function modalloader() {
        $('#kt_modal_6 .modal-body').load("@Url.Action("UploadPage", "Product", null, Request.Url.Scheme)");
    }

    function SelectPicID(idparameter) {
        var PicPosition = $("#CheckPickSelected-" + idparameter);
        $("gethertags").each(function (e) {
            $(this).hide(100);
        });
        if ($(PicPosition).attr("tshpischeck") == "0") {
            $("#CheckPickSelected-" + idparameter).show(200);
            $("#ktportlet-" + idparameter).addClass("bg-success");
            $("#GetherTagsID-" + idparameter).show(200);
            $(PicPosition).attr("tshpischeck", "1");
        } else {
            $("#CheckPickSelected-" + idparameter).hide(200);
            $("#ktportlet-" + idparameter).removeClass("bg-success");
            $("#GetherTagsID-" + idparameter).show(200);
            $(PicPosition).attr("tshpischeck", "0");
        }
        CalcPicSelected();
    }

    function CalcPicSelected() {

            
        var Allids = "";
        $(".StatusInputSelected").each(function (e) {
            console.log($(this).attr("tshpischeck") + " -- " + $(this).attr("tshpdatatargetid"));
            if ($(this).attr("tshpischeck") == "1") {
                Allids += $(this).attr("tshpdatatargetid")+",";
                    
            }

        });
        $("#modalRep1").val(Allids);
    }



    //============================================END::UploaderJs

    function EditBtnP1Clk()
    {
        $('#EditBtnP1').hide();
        $('#Sub_btn12').show();
        $('#Title_p1').prop("disabled", false);
        $('#Description_p1').prop("disabled", false);
        $('#SEO_keyword_p1').prop("disabled", false);
        $('#SEO_description_p1').prop("disabled", false);
        $('#SearchGravity_p1').prop("disabled", false);
        $('#IsAd_p1').prop("disabled", false);
        $('#picss').prop("disabled", false);
  
    }

</script>


