
@{
    ViewBag.Title = "Add_Page5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-portlet">
    <div class="kt-portlet__body">
        <!--begin::Section-->
        <div class="kt-section">


        </div>
    </div>
    <div class="kt-portlet__foot">
        <div class="kt-form__actions">
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12 col-xs-12">
                <button style="width: 100%;" class="btn btn-success" onclick="return SubmitedType('edit','')">ثبت</button>
            </div>

        </div>
    </div>
</div>
<!--end::Form-->