
@{

    ViewBag.Title = "UploadPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<input type="text" style="display: none" name="GetSelectedIds" value='[{ "picID": "1" },{ "picID": "2" },{ "picID": "3" }]' id="GetSelectedIds" />
@*<label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
    <span class="btn btn-primary"><i class="fa fa-pen"><span style="font-family: IRANSansWeb;">آپلود عکس</span></i></span>
    <input style="display: none;" id="uploaderInput" onchange="Uploading_uploader();" type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" multiple="">
</label>
<button class="btn btn-primary" id="UploadImages"><i class="fa fa-pen"><span style="font-family: IRANSansWeb;">آپلود عکس</span></i></button>
<button class="btn btn-success" onclick="return CalcPicSelected()">مشاهده تمامی عکس های انتخاب شده</button>*@

<div class="row" id="AllPickGalleryPage" style="display: none">
    <div class="col-lg-3">
        <div class="kt-portlet " id="ktportlet-1">
            <div class="kt-portlet__head kt-portlet__head--right kt-portlet__head--noborder  kt-ribbon kt-ribbon--clip kt-ribbon--left kt-ribbon--info" style="padding: 10px;">
                <div class="kt-ribbon__target StatusInputSelected" style="top: -2px; right: 20px; background-color: #099fae; display: none" id="CheckPickSelected-1" tshpdatatargetid="1" tshpischeck="0">
                    <i class="flaticon2-correct" style="font-size: 20px;"></i>
                </div>
                <div class="kt-portlet__head-label" style="width: 100%;">
                    <h3 class="kt-portlet__head-title" style="width: 100%;">
                        <img src="https://unsplash.it/250/187?image=400" style="width: 100%; border-radius: 5px;" onclick="SelectPicID('1')">
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit-top">
                <gethertags id="GetherTagsID-1" style="display: none">
                    <div class="row">
                        <div class="input-group">
                            <span class="input-group-text w-100">نام عکس</span>
                        </div>
                        <input type="text" class="form-control" readonly="readonly" value="سلام بر تو متن ساختگی شماره یم در خدمت شماست تا خوانا باشد" style="direction: rtl;text-align: right;">
                        <div class="input-group pt-1">

                            <span class="input-group-text w-100">لیبل</span>

                            <input type="text" class="form-control" readonly="readonly" value="سلام بر تو متن ساختگی شماره یم در خدمت شماست تا خوانا باشد" style="direction: rtl;text-align: right;">
                        </div>
                        <div class="input-group pt-1">

                            <span class="input-group-text w-100">توضیح مختصر</span>

                            <input type="text" class="form-control" readonly="readonly" value="سلام بر تو متن ساختگی شماره یم در خدمت شماست تا خوانا باشد" style="direction: rtl;text-align: right;">
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-6" style="padding: 1px 1px;">

                            <button class="btn btn-danger w-100" type="button" onclick="return NewClick(1)">حذف!</button>
                        </div>
                        <div class="col-6" style="padding: 1px 1px;">
                            <button class="btn btn-warning w-100" type="button" onclick="return NewClick(1)">ویرایش!</button>
                        </div>

                    </div>
                </gethertags>
            </div>
        </div>
    </div>
</div>
<div class="row" id="UploaderPage" style="height: 622px; " style="display: none">
    <iframe id="iframeUploadObject" src="" style="border: none; height: 621px; width: 100%;border-top-right-radius: 150px;border-bottom-left-radius: 150px;"></iframe>

</div>

<input style="display: none" id="URlReq" value="@Url.Action("UploaderIFRAME", "Product", null, Request.Url.Scheme)"/>




<script>
    $(document).ready(function() {
        iframeUploadObject.src = $("#URlReq").val();
    });
    function UploadModalPage(btn, idpage) {
        if (idpage == 0) {
            $("#btnpageUp-1").removeClass("btn-success");
            $("#btnpageUp-1").addClass("btn-primary");
            $(btn).removeClass("btn-primary");
            $(btn).addClass("btn-success");
            iframeUploadObject.src = $("#URlReq").val();
            $("#AllPickGalleryPage").hide(200);
            $("#UploaderPage").show(300);

        } else if (idpage == 1) {
            $("#btnpageUp-0").removeClass("btn-success");
            $("#btnpageUp-0").addClass("btn-primary");
            $(btn).removeClass("btn-primary");
            $(btn).addClass("btn-success");
            $("#UploaderPage").hide(200);
            $("#AllPickGalleryPage").show(300);
        }
    }
</script>
